:root {
    /* Tipografia */
    --fuentePrincipal: "Staatliches", sans-serif;


    /* Colores */
    --primario: #9C27B0;
    --primarioOscuro: #89119D;
    --secundario: #FFCE00;
    --secundarioOscuro: rgb(233, 287, 2);
    --colorBlanco: #FFF;
    --colorNegro: #000;
}

/* Globales */
html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-size: 1.6rem;
    background-color: var(--primario);
    line-height: 1.5;
}

p {
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--colorBlanco);
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    /* width: 100%; */
}

.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}

h1,
h2,
h3 {
    font-family: var(--fuentePrincipal);
    text-align: center;
    color: var(--secundario);
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3.2rem;
}

h3 {
    font-size: 2.4rem;
}

/* HEADER */
.header {
    display: flex;
    justify-content: center;
    margin: 2rem 0rem;
}

.header a {
    line-height: 0;
}


/* NAV */
.navegacion {
    background-color: var(--primarioOscuro);
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 2rem;
    padding: 1rem 0rem;

}

.navegacion__enlace {
    color: var(--colorBlanco);
    font-family: var(--fuentePrincipal);
    font-size: 3.2rem;
    transition: .5s color ease-in-out;
    text-align: center;
}

.navegacion__enlace:hover {
    color: var(--secundario);
}


/* MAIN */

.grid {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    gap: 3rem;
    margin-bottom: 10rem;
}

@media (width>=768px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }
}

@media (width>=1024px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }
}


/* PRODUCTO */
.producto {
    background-color: var(--primarioOscuro);
    line-height: normal;
    padding: 1rem;
    /* width: 90%; */
    margin: 0 auto;
}

@media(width>=768px) {
    .producto {
        width: 100%;
    }
}


.producto__imagen {
    width: 100%;
}

.producto__info {
    margin-top: 2rem;
}

.producto__titulo {
    color: var(--colorBlanco);
    font-size: 4rem;
}

.producto__precio {
    font-size: 2.9rem;
    color: var(--secundario);
}

.producto__titulo,
.producto__precio {
    font-family: var(--fuentePrincipal);
    margin: 1rem 0rem;
    text-align: center;
    line-height: 1.2;
}

/* GRAFICOS */

.grafico {
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 40rem;
}

.grafico--camisas {
    background-image: url(../imgWebp/grafico1.webp);
    grid-row: 4/5;
    grid-column: 1/2;
}

@media (width>=768px) {
    .grafico--camisas {
        grid-row: 3/4;
        grid-column: 1/3;

    }
}

@media (width>=1024px) {
    .grafico--camisas {
        grid-row: 2/3;
        grid-column: 1/3;
        height: 100%;
    }
}


.grafico--node {
    background-image: url(../imgWebp/grafico2.webp);
    grid-row: 14/15;
}

@media (width>=768px) {
    .grafico--node {
        grid-row: 6/7;
        grid-column: 1/3;

    }
}

/*  */

@media (width>=1024px) {
    .grafico--node {
        grid-row: 6/7;
        grid-column: 2/4;
        height: 100%;
    }
}


/* FOOTER */
.footer-bg {
    background-color: var(--primarioOscuro);
}

.footer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    line-height: 0;
    padding: 2rem 1rem;
}

@media (width>=768px) {
    .footer {
        flex-direction: row;
        justify-content: space-between;
    }
}

.footer__texto {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.4rem;
}

@media (width>=768px) {
    .footer__texto {
        font-size: 1.8rem;
    }
}

.footer__redes a svg {
    stroke: var(--colorBlanco);
    transition: .5s stroke ease-in-out;
}

.footer__redes a:hover svg {
    stroke: var(--secundario)
}


/* SOBRE NOSOTROS */
.nosotros {

    display: flex;
    flex-direction: column;
    margin-bottom: 4rem;
}

@media (width>=768px) {
    .nosotros {
        width: 95%;
        flex-direction: row;
        gap: 2rem;
    }
}

.nosotros__texto {
    width: 100%;
    order: 2;
    display: inline-block;
    padding: 0rem 1rem;
}

@media (width>=768px) {
    .nosotros__texto {
        order: 1;
        padding: 0;
    }
}

.nosotros__img {
    display: block;
    width: 100%;
    object-fit: cover;
    order: 1;
}

@media (width>=768px) {
    .nosotros__img {
        order: 2;
    }
}